*~
*.swp
.VimballRecord
*.bat
*.exe
*.dll
*.netrwhist
*.vim
*.txt
GvimExt*/
/autoload/
/bin/
/colors/
/compiler/
/doc/
/ftdetect/
/ftplugin/
/indent/
/keymap/
/lang/
/macros/
/pack/
/plugin/
/spell/
/syntax/
/tools/
/tutor/
